<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.ludei.multiplayer.ios.common" version="1.0.5">
    <name>CocooniOSMultiplayerCommon</name>
    <description>iOS Multiplayer Common plugin API</description>
    <license>MPL 2.0</license>
    <keywords>cordova,multiplayer,GameCenter,game,center,cocoon,atomic,plugins</keywords>
    <repo>https://github.com/ludei/atomic-plugins-multiplayer</repo>
    <platform name="ios">
        <header-file src="src/deps/LDMultiplayerService.h" />
        <source-file src="src/deps/LDMultiplayerService.m" />
        <header-file src="src/deps/LDMultiplayerMatch.h" />
        <source-file src="src/deps/LDMultiplayerMatch.m" />

        <header-file src="src/LDMultiplayerPlugin.h" />
        <source-file src="src/LDMultiplayerPlugin.m" />

        <dependency id="com.ludei.multiplayer.common" />
    </platform>
</plugin>