<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-multiplayer-common" version="1.0.0">
    <name>CocoonMultiplayerAtomicPlugin</name>
    <description>Cocoon Multiplayer API</description>
    <license>MPL 2.0</license>
    <keywords>cordova,cocoon,multiplayer,google,play,games,game,center,atomic,plugins</keywords>
    <repo>https://github.com/ludei/atomic-plugins-multiplayer</repo>
    <js-module src="www/cocoon_multiplayer.js" name="Multiplayer">
        <runs/>
    </js-module>

    <dependency id="cocoon-plugin-common" />
</plugin>