<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-multiplayer-browser-common" version="1.0.0">
    <name>CocoonBrowserMultiplayerCommon</name>
    <description>Cocoon Multiplayer API</description>
    <license>MPL 2.0</license>
    <keywords>cordova,cocoon,multiplayer,google,play,games,game,center,atomic,plugins</keywords>
    <repo>https://github.com/ludei/atomic-plugins-multiplayer</repo>
    <platform name="browser">
        <dependency id="cocoon-plugin-multiplayer-common" />
    </platform>
</plugin>